main {
  justify-content: center;
}
/* MINI-JEUX */
.games-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
.games {
  width: 15%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--border);
  border-radius: 5px;
  text-decoration: none;
  margin: 30px 0;
}
.games i {
  color: var(--white-text);
  font-size: 3em;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-shadow: 0 0 10px #000;
}
.games h3 {
  color: var(--white-text);
  font-weight: 200;
  background-color: var(--border);
  width: 100%;
  text-align: center;
  padding: 3px;
}
/* SONDAGES */
.sondages-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sondages-container form {
  display: flex;
  flex-direction: column;
  width: 35%;
  border: 2px solid var(--border);
  border-radius: 5px;
}
.sondages-container h3 {
  width: 100%;
  color: var(--white-text);
  background-color: var(--border);
  font-weight: 400;
  padding: 3px 10px;
}
.sondage-page {
  display: none;
}
.sondage-page.active {
  display: initial;
}
.sondage-box {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.sondage-cell {
  position: relative;
  width: 50%;
}
.sondage-cell label img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.sondage-cell input[type="radio"] {
  appearance: none;
  position: absolute;
  bottom: 7px;
  right: 12px;
}
.sondage-check {
  position: absolute;
  bottom: 5px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../img/circle-regular.svg);
}
.sondage-cell input[type="radio"]:checked + .sondage-check {
  background-image: url(../img/circle-check-regular.svg);
}
.btn-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-sondage {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background-color: var(--border);
  color: var(--white-text);
  padding: 5px;
  width: 100%;
  cursor: pointer;
}
/* QUIZZ */
.quizz-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quizz-container form {
  width: 35%;
}
.quizz-page {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border);
  border-radius: 5px;
  margin-top: 30px;
}
.quizz-page h3 {
  width: 100%;
  background-color: var(--border);
  color: var(--white-text);
  padding: 3px 10px;
  font-weight: 300;
}
.quizz-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
}
.quizz-cell input[type="radio"] {
  appearance: none;
}
.quizz-cell input[type="radio"]:checked + label .quizz-check {
  background-image: url(../img/circle-check-regular.svg);
}
.quizz-cell label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--white-text);
}
.quizz-check {
  width: 20px;
  height: 20px;
  background-color: var(--white-text);
  border-radius: 999px;
  background-image: url(../img/circle-regular.svg);
}
.btn-quizz {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: var(--border);
  color: var(--white-text);
  padding: 7px;
  margin-top: 30px;
  cursor: pointer;
}
/* ALERT */
.form-alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  color: var(--white-text);
  min-height: 40px;
  margin: 20px 0;
}
.form-alert h6 {
  font-size: 1.5em;
  min-height: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.form-alert p {
  min-height: 40px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0px 10px;
}
.form-alert a {
  font-size: 16px;
  color: var(--white-text);
}
.form-error {
  border: 1px solid red;
}
.form-error h6 {
  background-color: red;
}
.form-error p {
  background-color: rgba(255, 0, 0, 0.5);
}
.form-success {
  border: 1px solid green;
}
.form-success h6 {
  background-color: green;
}
.form-success p {
  background-color: rgba(0, 255, 0, 0.4);
}
/* BG */
#sondages i {
  background-image: url(../img/thumbnails/sondages.jpg);
}
#quizz i {
  background-image: url(../img/thumbnails/quizz.jpg);
}
#paroles i {
  background-image: url(../img/thumbnails/paroles.jpg);
}
#escape i {
  background-image: url(../img/thumbnails/escape.jpg);
}
#princess i {
  background-image: url(../img/thumbnails/princess.jpg);
}
#personnages i {
  background-image: url(../img/thumbnails/personnages.jpg);
}
#movies i {
  background-image: url(../img/thumbnails/movies.jpg);
}
#quizz1 i {
  background-image: url(../img/thumbnails/quizz1.jpg);
}
#quizz2 i {
  background-image: url(../img/thumbnails/quizz2.jpg);
}
#quizz3 i {
  background-image: url(../img/thumbnails/quizz3.webp);
}
/* MOBILE */
@media screen and (max-width: 1000px) {
  .games {
    width: 100%;
    margin-bottom: 30px;
  }
  .sondages-container form {
    width: 100%;
  }
  .quizz-container form {
    width: 100%;
  }
}
